<h1>User Info</h1>

<button class="primary back-button" mat-button routerLink="../"><mat-icon>arrow_left</mat-icon>go back</button>

<div *ngIf="(userData$ | async) as userInfo ">
    <h4><span class="key">Name: </span>{{userInfo.name}}</h4>
    <h4><span class="key">username: </span>{{userInfo.username}}</h4>
    <h4><span class="key">email: </span>{{userInfo.email}}</h4>
    <h4><span class="key">address: </span>{{userInfo.address.city}}, {{userInfo.address.street}}</h4>
    <h4><span class="key">phone: </span>{{userInfo.phone}}</h4>
    <h4><span class="key">website: </span>{{userInfo.website}}</h4>
    <h4><span class="key">company: </span>{{userInfo.company.name}}</h4>

    <app-user-item [orange]="true" routerLink="./posts" name="User Posts"></app-user-item>

    <div class="navigation-buttons">
        <span class="button-wrapper">
            <app-user-item [reverse]="true" routerLink="../{{userInfo.id-1}}" name="previous user" *ngIf="(userInfo.id > 1)"></app-user-item>
        </span>

        <span class="button-wrapper">
            <app-user-item routerLink="../{{userInfo.id+1}}" name="next user" *ngIf="(userInfo.id < 10)"></app-user-item>
        </span>
    </div>
</div>
