.container {
    display: flex;
    width: 100%;
    max-width: 368px;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 12px;
    cursor: pointer;
    background-color: #efefef;
    border-radius: 12px;
    color: #0d0d0d;

    &:hover{
        background-color: #e7e7e7;
    }
    
    &:active{
        background-color: #e0e0e0;
    }
}